# уровень логирования
LOG_LEVEL=DEBUG

# Настройки подключения к БД
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=yourdb

# Строка подключения к удаленной БД
REMOTE_DB=postgresql://<URL>:/<database>>?sslmode=require&channel_binding=require

# N2YO API key
N2YO_API_KEY=XXXXXX-XXXXXX-XXXXXX-XXXX

# Координаты наблюдателя - долгота (LON - longitude), LAT - широта (latitude)
OBSERVER_LAT=YY.YYYYYY
OBSERVER_LON=XX.XXXXXX