# уровень логирования
LOG_LEVEL=DEBUG

# Строка подключения к удаленной БД (если удалить REMOTE_DB - будет попытка подключения к локальной БД)
REMOTE_DB=postgresql://<URL>:/<database>>?sslmode=require&channel_binding=require

# Настройки подключения к БД (если удалить DB_HOST - создастся SQLite)
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=yourdb

# Ссылка для парсинга ГЕО
GEO_URL=https://celestrak.org/NORAD/elements/geo.txt

# N2YO API key
N2YO_API_KEY=XXXXXX-XXXXXX-XXXXXX-XXXX

# Координаты наблюдателя - долгота (LON - longitude), LAT - широта (latitude)
OBSERVER_LAT=YY.YYYYYY
OBSERVER_LON=XX.XXXXXX